# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data
data/raw/
data/chunked/
data/embedded/
# We keep data/chroma for now so the app works on clone

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
.DS_Store
*.pem

# IDEs
.vscode/
.idea/
